<a href="https://colab.research.google.com/github/prexia/THC/blob/desarollo/Clase_12_10_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BRAVO MORENO SANTIAGO \\
CRUZ CONTRERAS ISARI LYVIER

In [2]:
def mi_funcion(x):
  return 5*(x) #return Para devolver el valor con algo
mi_funcion(3)

15

In [4]:
x= lambda a : a + 10 # lo Asigno a x
print(x(5)) # el a es el q entra en este caso 5 y se le suma el 10

15

In [5]:
x = lambda a, b : a*b
print(x(5,6))

30

In [6]:
x = lambda a, b, c : a+b+c
print(x(5,6,2))

13

In [11]:
def mifunc(n):
    return lambda a : a * n #una funcion puede devolver una lambda
midoble = mifunc(2) #midoble igual a la funcion
print(midoble(23)) #imprimes el doble poniendo el valor

46

In [16]:
def mifunc(n):
    return lambda a : a * n # la a de lambda depende de mifunc F(g(x))
midoble = mifunc(2) #midoble igual a la funcion
mitriple = mifunc(3)
print(midoble(1.5))
print(mitriple(17))

3.0
51

In [56]:
def filter(x, z):
  C=[]
  for i in range(x, z+1):
    if i%2==0:
      C.append(i)
  return C

filter(1,100)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [67]:
def mi_funcion(A):
  return lambda a : A
contraseña= mi_funcion(A=[iSARI])
print(contraseña)

NameError: ignored

In [71]:
def contraseña1(A):
  n=len(A)
  B=["%","$","@",".",1,2,3,4,5,6,7,8,9,0]
  c=len(B)
  for i in range(n):
    contraseña2=i+(x in range(c))
    print(contraseña2)

contraseña1(A=["I","s","a","r","i"])

0
1
2
3
4

In [89]:
name="Isari"
carac=["#","$",".","&","@"]
for letra in name:
  for cara in carac:
    print(letra+cara)

I#
I$
I.
I&
I@
s#
s$
s.
s&
s@
a#
a$
a.
a&
a@
r#
r$
r.
r&
r@
i#
i$
i.
i&
i@

In [102]:
x="Hola"
A=[[1,2,3],[4,5,6],[7,8,9]]
print(A)
B=[[1,2,3],[4,5,6],[7,8,9]]
print(B)
print(A[1][0])
print(B[2][1])
print(x)
for j in range(len(A)):
  print(A[0][j])
print(x)
for j in range(len(A)):
  print(A[j][1])
print(x)
for i in range(len(A)):
  for j in range(len(A)):
    print(A[i][j])
print(x)
for i in range(len(A)):
  for j in range(len(A)):
    print(A[i][j]+B[i][j])
print(x)
for i in range(len(A)):
  for j in range(len(A)):
    print(A[i][j]*B[i][j])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
4
8
Hola
1
2
3
Hola
2
5
8
Hola
1
2
3
4
5
6
7
8
9
Hola
2
4
6
8
10
12
14
16
18
Hola
1
4
9
16
25
36
49
64
81