<a href="https://colab.research.google.com/github/prexia/THC/blob/desarollo/Copia_de_Clase03_10_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

Bravo Moreno Santiago

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:

for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
suma=0
while i<51:
  suma=suma+i
  i=i+1
print(suma)

1275

In [ ]:
factorial=1;n=5
for i in range(1,n+1):
  factorial=factorial*i
print(factorial)

120

In [ ]:
i=1
factorial=1
while i<6:
  factorial=factorial*i
  i=i+1
print(factorial)

120

In [ ]:

for i in range (101):
  if i%2==0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
frutas=["manzana", "pera", "naranja", "kiwi" ]
for fruta in frutas:
    print(fruta)

manzana
pera
naranja
kiwi

In [ ]:
if "manzana" in frutas:
    print("Sí, la manzana está en la lista")

Sí, la manzana está en la lista

In [ ]:
if "guayaba" in frutas:
    print("Sí, la manzana está en la lista")
else:
    print("No esta en la lista")

No esta en la lista

In [ ]:
lista=[1,2,3,4,5,6,7,8,9,10]
suma=0
for numero in lista:
  suma=numero+suma
print(suma)

55